* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

body {
  background-color: #632432;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.table {
  margin: 150px auto;
  width: 600px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.info-table {
  width: 100px;
  font-size: 20px;
}

.atr {
  width: 350px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th {
  text-align: left;
}

.title {
  width: 100px;
}

.author {
  padding-right: 110px;
}

.elements {
  display: flex;
  border: 2px solid red;
  width: 100vh;
}

.book-form {
  margin: 150px auto;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.book-form h2 {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.book-form button {
  width: 150px;
  margin-top: 20px;
  margin-left: 80px;
  height: 30px;
  color: #fff;
  font-weight: bold;
  background-color: #246355;
  border-radius: 7px;
}

input {
  margin-bottom: 10px;
  border-radius: 7px;
  width: 300px;
  height: 4vh;
}

nav {
  background-color: #3e3e3e;
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 100px;
  height: 90px;
  margin-left: 100px;
}

.menu {
  display: flex;
  margin-right: 100px;
  padding-top: 25px;
}

.menu li {
  margin-right: 40px;
  list-style-type: none;
  user-select: none;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

#Contact-info {
  margin: 150px auto;
  width: 600px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#Contact-info h2 {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

#Contact-info p {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

#Contact-info li {
  line-height: 35px;
  margin-left: 120px;
  color: #fff;
  font-weight: 400;
}

.remove {
  width: 120px;
  height: 40px;
  background-color: #ffc300;
  color: #fff;
  font-weight: 800;
  border-radius: 10px;
  border: 2px solid #ffc300;
}

.books-authors {
  font-size: 18px;
  color: #075cc2;
  font-weight: 800;
}

.date-time {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
  color: #fff;
  font-size: 22px;
}

footer {
 text-align: center;
}